.places {
    display: grid;
}

@media screen and (min-width: 64rem){

    .places {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 1rem;
    
    }
    
    .place-card {
        display: grid;
        grid-template-areas: 
        "image title"
        "image description"
        "image address";
    }
    
    .place-card h2 {
        grid-area: title;
    }
    
    .place-card img {
        grid-area: image;
        width: 100%;
        height: auto;
        border-radius: 5px;
        overflow: hidden;
    }
    
    .place-card address {
        grid-area: address;
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }
    
    .place-card p {
        grid-area: description;
        margin: 0;
        padding: 0.5rem 0;
    }
     
}

@media (min-width: 32rem) and (max-width: 64rem){

    .places {
        grid-template-columns: 1fr;
    }
    
    .place-card {
        display: grid;
        grid-template-areas: 
        "image title"
        "image description"
        "image address";
    }
    
    .place-card h2 {
        grid-area: title;
    }
    
    .place-card img {
        grid-area: image;
        width: 100%;
        height: auto;
        border-radius: 5px;
        overflow: hidden;
    }
    
    .place-card address {
        grid-area: address;
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }
    
    .place-card p {
        grid-area: description;
        margin: 0;
        padding: 0.5rem 0;
    }
     
}