* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: #333;
    background-color: #f4f4f9;
    line-height: 1.6;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #323f77;
    padding: 0.8rem 1rem;
    color: #fff;
    font-weight: bold;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    padding: 3em;
    margin: 0 auto;
}

.main {
    padding: 1em;
}

.main-title {
    font-size: 1.5rem;
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 10%;
    padding: 5px;
    font-weight: bold;
}

.logo-image img {
    margin: 0;
    padding: 0;
    width: 8rem;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #f8f8f8; 
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s, padding 0.3s;
}

.nav-links a:hover {
    color: gold;
    padding: 0.5rem 1.2rem;
}

/* Hero Section */
.hero {
    position: relative;
    margin-bottom: 2rem;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    filter: saturate(130%) hue-rotate(10deg);
    border-radius: 10px;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: .5rem;
    border-radius: 10px;
}

.cta-button {
    display: inline-block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    background-color: #004080;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.cta-button:hover {
    background-color: #002060;
}

.basic-information {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 10px;
}

/* Sections */
section {
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.basic-information section {
    height: auto;
}

.basic-information h2 {
    background: #323f77;
    color: #fff;
    padding: 1rem;
    border-radius: 5px 5px 0 0;
}

.route {
    color: rgb(238, 178, 15);
}

.events {
    grid-column: 1 / 3;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 10px;
}

.contact img {
    width: 5rem;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.contact {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

h1 {
    margin: 0;
    padding: 0;
}

.forecast div {
    padding: 2rem;
    text-align: left;
    line-height: 2.5rem;
}

.information {
    text-align: left;
}

/* Form Styles */
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    background-color: var(--white-color);
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input, form select, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
}

/* Membership Cards */
.membership-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px auto;
}

.card {
    flex: 1 1 calc(25% - 20px);
    padding: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    background-color: var(--white-color);
    text-align: center;
    cursor: pointer;
    animation: fadeIn 2s ease-in-out;

}

.card:hover {
    background-color: var(--secondary-light);
    color: var(--white-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    margin-bottom: 1rem;
}
.info p {
    margin: 0;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

/* Footer */
footer {
    background: #323f77;
    color: white;
    text-align: left;
    padding: 20px 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer img {
    width: 2rem;
    height: auto;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.toggle-button {
    margin: 1rem;
    padding: 0.5rem 1rem;
    background: #004080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.toggle-button:hover {
    background: #002060;
}

.view-buttons {
    display: flex;
    gap: 1rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

.list-view .container {
    display: grid;
    grid-template-columns: 1fr; /* Change to single column in list view */
    width: 100%; /* Ensure full width */
}

.list-view .container section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.list-view .container .table-view {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.list-view .container .table-view th, 
.list-view .container .table-view td {
    border: 1px solid #ddd;
    padding: 1px;
    text-align: left;
}

.list-view .container .table-view th {
    background-color: #323f77;
    color: white;
    font-weight: bold;
}

/* Membership Level Styles */
.list-view .container .table-view .member-level-1 {
    background-color: #f0f0f0;
}

.list-view .container .table-view .member-level-2 {
    background-color: silver;
    color: black;
}

.list-view .container .table-view .member-level-3 {
    background-color: gold;
    color: black;
    font-weight: bold;
}

.view-button {
    padding: 0.5rem 1rem;
    background: #004080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.view-button:hover {
    background: #002060;
}

.list-view {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    justify-content: space-around;
    gap: 1rem;;
}

.list-view .container .contact img {
    margin-right: 1rem;
}

.list-view .table-view th {
    background-color: #323f77;
    color: white;
    font-weight: bold;
}

.list-view .table-view td a {
    color: #004080;
    text-decoration: none;
    font-weight: bold;
}

.list-view .table-view td a:hover {
    text-decoration: underline;
}

.list-view td {
    text-align: center;
}

