* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f9;
    line-height: 1.6;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #323f77;
    padding: 0.8rem 1rem;
    color: #fff;
    font-weight: bold;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainTitle {
    font-size: 1.5rem;
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 10%;
    padding: 5px;
    font-weight: bold;
}

.logo-image img {
    margin: 0;
    padding: 0;
    width: 8rem;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s, padding 0.3s;
}

.nav-links a:hover {
    color: gold;
    padding: 0.5rem 1.2rem;
}

/* Hero Section */
.hero {
    position: relative;
    margin-bottom: 2rem;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    filter: saturate(130%) hue-rotate(10deg);
    border-radius: 10px;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bolder;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 10px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background: #004080;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-top: 15px;
    border-radius: 5px;
    transition: background 0.3s;
}

.cta-button:hover {
    background: #002060;
}

.basic-information {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 10px;
}

/* Sections */
section {
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.basic-information section {
    height: auto;
}

.basic-information h2 {
    background: #323f77;
    color: #fff;
    padding: 1rem;
    border-radius: 5px 5px 0 0;
}

.route {
    padding: 1rem;
    color: rgb(238, 178, 15);
    font-size: 1.2rem;
}

.events {
    grid-column: 1/3;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 10px;
}

.container section {
    height: auto;
}

.contact img {
    width: 10rem;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.contact {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.forecast div {
    padding: 2rem;
    text-align: left;
    line-height: 2.5rem;
}

.information {
    text-align: left;
}

/* Footer */
footer {
    background: #323f77;
    color: white;
    text-align: center;
    padding: 20px 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.sociallinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer img {
    width: 2rem;
    height: auto;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

/* Responsive Styles */
@media (max-width: 768px) {

    .hero .text {
        display: none;
    }

    .hamburger {
        display: block;
        position: absolute;
        left: 90%;
        top: 4px;
        z-index: 10;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0; 
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    header nav ul {
        position: fixed;
        left: 100%;
        top: 0;
        gap: 0;
        flex-direction: column;
        background-color: #323f77;
        color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s ease-in-out;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 10;
        padding: 5px 0;
    }

    header nav ul li a {
        padding: 2rem;
    }

    nav ul.active {
        position: fixed;
        left: 0;
    }

    .basic-information, .container {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    .events {
        grid-column: 1;
    }

    footer {
        display: flex;
        flex-direction: column;
        text-align: left;
        line-height: 1.6rem;
        gap: 1rem;
    }

    footer .sociallinks {
        margin: 0 auto;
    }
}
