body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

#filters button {
    padding: 20px 30px;
    border: none;
    background-color: #007bff;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#filters button:hover {
    background-color: #0056b3;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: 20px;
}

#cards section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#cards img {
    border-radius: 10px;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + #filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
}

@media (max-width: 768px) {
    #filters {
        display: none;
        flex-direction: column;
        gap: 10px;
        height: 100vh;
    }

    #menu-icon {
        display: block;
    }

    #filters button {
        background-color: #fff;
        color: #000;
        border-bottom: 1px solid #000;
        border-radius: 0;
        font-size: large;
    }

    #filters button:hover{
        background-color: #b4d0ee;
    }
}